{% extends 'flatpages/default.html' %}

{% load custom_filters %}
{% load custom_tags %}


{% block title %}
Posts
{% endblock title %}

{% block content %}
   <h1>Всего публикаций : {{posts|length}}</h1>
   <h3>Сегодня : {{ time_now|date:'d.m.Y' }} </h3>
   <form action="" method="get">
       {{ filterset.form.as_p }}
       <input type="submit" value="Найти" />
   </form>
   {% if is_not_subscriber %}
       <p class="text-center"><a href="{% url 'subscribe' category.id %}" class="bth bin-secondary bth-sm">Подписаться</a> </p>
   {% endif %}
   <hr>


   {#проверяеум конкретные права #}
    {% if perms.news.add_post %}
    <a href="{% url 'post_create' %}">Добавить пост</a>
    {% endif %}

       {% if posts %}
       <table>
           <tr>
               <td width="400">Название</td>
               <td width="150">Дата публикации статьи</td>
               <td width="900">Описание</td>
               <td width="150">Рейтинг</td>
               <td width="200">Категории</td>

               {# Условие получается составным. #}
               {% if perms.news.change_post or perms.news.delete_post %}
               <td>Действия</td>
               {% endif %}
           </tr>

           {% for post in posts %}
           <tr>
               <td>{{ post.title }}</td>
               <td>{{ post.post_time|date:'d.m.Y' }}</td>
               <td>{{ post.text|truncatewords:20 }}</td>
               <td>{{ post.rating }}</td>
               <td>
                   {% for category in post.category.all %}
                          <a href="{% url 'category_list' category.id %}">{{ category }}</a>
                   {% endfor %}

               </td>
               <td>
                    {# А здесь доступ для каждой ссылки теперь будем проверять отдельно #}
                    {% if perms.news.change_post %}
                    <a href="{% url 'post_update' pk=post.id %}">Изменить</a>
                    {% endif %}
                    {% if perms.news.delete_post %}
                    <a href="{% url 'post_delete' post.id %}">Удалить</a>
                    {% endif %}
                </td>

           </tr>
           {% endfor %}

        </table>
       {% else %}
       <h2>Новостей нет!</h2>
       {% endif %}

{% if page_obj.has_previous %}
       {# Для каждой ссылки пагинации указываем обработку через новый тег #}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}
{% endblock content %}