<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}

{% load custom_filters %}

<!-- Название у нас будет Product -->
{% block title %}
Post
{% endblock title %}

<!-- В контенте на странице мы выводим сам товар, идентификатор которого был передан в url -->
{% block content %}
<h3>{{ post.title|censor }}</h3>
<hr>
   {% if post %}
       <table>
           <tr>
               <td>{{ post.text|censor}}</td>
           </tr>
           <tr>
               <td>{{ post.post_time|date:'d.m.Y' }}</td>
           </tr>
       </table>
   {% else %}
       <h2>Такого поста не существует!</h2>
   {% endif %}
{% endblock content %}