{% extends 'flatpages/default.html' %}

{% load custom_filters %}
{% load custom_tags %}


{% block title %}
Posts
{% endblock title %}

{% block content %}
   <h1>Всего публикаций : {{posts|length}}</h1>
   <h3>Сегодня : {{ time_now|date:'d.m.Y' }} </h3>
   <form action="" method="get">
       {{ filterset.form.as_p }}
       <input type="submit" value="Найти" />
   </form>
   <hr>


       {% if posts %}
       <table>
           <tr>
               <td width="400">Название</td>
               <td width="150">Дата публикации статьи</td>
               <td width="900">Описание</td>
               <td width="150">Рейтинг</td>
               <td width="200">Категории</td>
           </tr>

           {% for post in posts %}
           <tr>
               <td>{{ post.title }}</td>
               <td>{{ post.post_time|date:'d.m.Y' }}</td>
               <td>{{ post.text|truncatewords:20 }}</td>
               <td>{{ post.rating }}</td>
               <td>{{ post.category.all|join:", " }}</td>
           </tr>
           {% endfor %}

        </table>
       {% else %}
       <h2>Новостей нет!</h2>
       {% endif %}

{% if page_obj.has_previous %}
       {# Для каждой ссылки пагинации указываем обработку через новый тег #}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}
{% endblock content %}